/* Define font style */
@font-face {
  font-family: "Yekan";
  src: url("/assets/fonts/Yekan.ttf");
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/IRANSans.ttf");
}

@font-face {
  font-family: "Vazir";
  src: url("/assets/fonts/vazir.ttf");
}
/* End define font style */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
.container {
  margin: 0;
  margin-top: 80px;
  padding: 0;
}
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: rtl;
}

.text {
  font-size: 12px;
  color: #999;
}

.title {
  font-size: 14px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-20 {
  margin-top: 20px;
}

.p-5 {
  padding: 0 5px;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

body {
  font-family: "Vazir";
  direction: rtl;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/nmv-background-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
  color: #fff;
}

#navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

/* set style for navbar link */
#navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 12px;
}

#navbar .logo-lg {
  display: none;
}

/* start intro section */
/* start order-top styles */
#box-namava {
  padding: 5px;
}

#box-namava img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#box-namava .box-namava-title {
  font-size: 16px;
  text-align: center;
}

#box-namava .box-namava-text {
  font-size: 14px;
  margin-top: 20px;
  color: #999;
  text-align: center;
}
/* end order-top styles */

.line-through {
  text-decoration: line-through;
  text-decoration-color: red;
}

.badge {
  padding: 2px 10px;
  background-color: #d95c5c;
  border-radius: 5px;
  font-size: 10px !important;
}

#purchase-info .intro-dis {
  margin-top: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#purchase-info .intro-dis img {
  width: 145px;
  height: auto;
}

#purchase-info .intro-dis h5 {
  font-size: 12px;
  margin: 15px 0;
}

#purchase-info .intro-dis {
  font-size: small;
}

#purchase-info .intro-pre {
  padding: 10px;
  margin-top: 10px;
}

#purchase-info .intro-pre > div {
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
}

#purchase-info .intro-pre h3 {
  font-size: 18px;
}

#purchase-info .intro-pre > div > div:nth-child(2) {
  margin: 20px 0;
}

#purchase-info .intro-pre span {
  font-size: 12px;
  display: flex;
  align-items: center;
}

#purchase-info .intro-pre a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

#what-is .image-box img {
  max-width: 100%;
  width: 100%;
}

#what-is {
  text-align: center;
}

#what-is h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

#what-is p {
  padding: 0 10px;
  font-size: 12px;
  color: #999;
}

#video-box {
  width: 100%;
  margin-top: 60px;
}

#config-info {
  display: grid;
  grid-template-columns: 25% 25%;
  margin-top: 100px;
  text-align: center;
  grid-gap: 50px;
  justify-content: space-around;
  font-size: 12px;
}

#config-info img {
  width: 150px;
}

#remote-box img {
  width: 50%;
}

#remote-box {
  margin-top: 50px;
}

#remote-box h4 {
  margin-top: 30px;
}

#android-tv {
  margin-top: 50px;
}

#android-tv h4 {
  margin-top: 30px;
}

#config{
  margin:100px auto; 
}

#config .config-box{
  padding:40px;
  background-color:rgb(18,18,18); 
  display:block;
  overflow:hidden; 
  height:270px; 
  position:relative; 
  transition:all ease 0.3s;
}

#config .config-box div{
  padding: 0 25px;
  margin-bottom: 25px;

}

#config .config-box div p{
  font-size: 12px;
  margin-bottom: 18px;
  color:rgb(170, 170, 170);
}

#config .config-box div h5{
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 16px;
}

.config-expand{
  height:1270px !important;
}

#config-expand-button{
  padding:15px;
  color:rgb(110, 184, 255);
  cursor:pointer;
  background-color:rgb(18,18,18); 
}
/* end intro section */

@media screen and (min-width: 640px) {
  .grid-md-2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .block-md {
    display: block;
  }

  .direction-md-rtl {
    direction: rtl;
  }

  .direction-md-ltr {
    direction: ltr;
  }

  .text {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }

  .text-md-center {
    text-align: center;
  }

  #navbar {
    padding: 0 56px;
    height: 80px;
  }

  #navbar .logo-lg {
    display: block;
  }

  #navbar .logo-sm {
    display: none;
  }

  .container {
    padding: 0 5%;
  }

  #purchase-info {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
  }

  #purchase-info .intro-dis {
    display: block;
  }

  #what-is h2 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  #what-is p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 28px;
  }

  #config-info {
    font-size: 14px;
  }

  #remote-box img {
    max-width: 295px;
  }

  #remote-box {
    margin-top: 100px;
  }

  #config{
    margin:100px auto; 
  }

  #config .config-box{
    padding:40px;
    background-color:rgb(18,18,18); 
    display: grid;
    grid-template-columns: 50% 50% ;
    overflow:hidden; 
    height:350px; 
    position:relative; 
    transition:all ease 0.3s;
  }

  #config .config-box div{
    padding: 0 25px;
  }

  #config .config-box div:nth-child(2){
    margin-bottom: 25px;
  }

  #config .config-box div p{
    font-size: 14px;
    margin-bottom: 18px;
    color:rgb(170, 170, 170);
  }

  #config .config-box div h5{
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 16px;
  }

  .config-expand{
    height:740px !important;
  }

  #config-expand-button{
    padding:15px;
    color:rgb(110, 184, 255);
    cursor:pointer;
  }

}

@media screen and (min-width: 1280px) {
  .grid-lg-2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .block-lg {
    display: block;
  }
  .container {
    padding: 0 6%;
  }
  #navbar {
    padding: 0 56px;
    height: 80px;
  }

  .direction-lg-rtl {
    direction: rtl;
  }

  .direction-lg-ltr {
    direction: ltr;
  }

  .text {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .w-lg-80 {
    width: 80%;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-start {
    text-align: start;
  }

  /* start intro section */

  /* start order-top styles */
  #box-namava {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    padding: 40px 0;
    direction: ltr;
  }

  #box-namava > div {
    padding: 50px;
    direction: rtl;
  }

  #box-namava img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  #box-namava .box-namava-title {
    font-size: 20px;
    text-align: start;
  }

  #box-namava .box-namava-text {
    font-size: 16px;
    margin-top: 20px;
    text-align: start;
    color: #999;
  }

  #purchase-info {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  #purchase-info .intro-dis {
    margin-top: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  #purchase-info .intro-dis img {
    width: 205px;
    height: auto;
  }

  #purchase-info .intro-pre {
    padding: 60px;
  }

  #what-is div {
    width: 58%;
    margin: 0 auto;
  }

  #what-is h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  #what-is p {
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
  }

  #config-info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 30px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
  }

  #config-info img {
    width: 150px;
  }

  #remote-box img {
    width: 295px;
  }

  #remote-box {
    margin-top: 150px;
  }

  #android-tv {
    margin-top: 60px;
  }

  #watch-online-box div {
    margin: 0 auto;
    margin-top: -120px;
    width: 50%;
  }

  #config {
    margin: 100px auto;
  }

  #config .config-box {
    padding: 40px;
    background-color: rgb(18, 18, 18);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height:auto !important;
  }

  #config .config-box div {
    padding: 0 25px;
    border-left: 1px solid rgb(170, 170, 170);
  }

  #config .config-box div:nth-child(4) {
    border-left: none;
  }

  #config .config-box div p {
    font-size: 14px;
    margin-bottom: 18px;
    color: rgb(170, 170, 170);
  }

  #config .config-box div h5 {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 16px;
  }

  #config-expand-button{
    display:none; 
  }

  .config-expand{
    height:auto !important;
  }
  /* end order-top styles */
}
