/* Define font style */
@font-face {
  font-family: "Yekan";
  src: url("/assets/fonts/Yekan.ttf");
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/IRANSans.ttf");
}

@font-face {
  font-family: "Vazir";
  src: url("/assets/fonts/vazir.ttf");
}
/* End define font style */

body {
  font-family: "Vazir";
  direction: rtl;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/nmv-background-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
}

#navbar {
  background-color: rgba(0,0,0,0);
  position: fixed;  /* Set the navbar to fixed position */
  top: 0;   
  width: 100%; 
  transition: all 0.5s;  
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

/* set style for navbar link */
#navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 12px;
}


#navbar .logo-lg {
  display: none;
}


@media screen and (min-width: 640px) {
  #navbar {
    padding: 0 56px;
    height: 80px;
  }

  #navbar .logo-lg {
    display: block;
  }

  #navbar .logo-sm {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #navbar {
    padding: 0 56px;
    height: 80px;
  }
}
